.blue-field {
    background-color: blue;
}

.white-field {
    background-color: white;
}

.red-pawn {
    background-color: red;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    font-size: x-small;
    text-align: center;
}

.white-pawn {
    background-color: white;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    font-size: x-small;
    text-align: center;
}

.board {
    border: black solid;
}